@import url("https://fonts.googleapis.com/css?family=Roboto+Mono|Staatliches&display=swap");

body {
  margin: 0;
  padding: 0;
}

:root {
  --color-black: #000000;
  --color-white: #ffffff;
  --color-border: #ffffff34;
  --color-blue: #22d1ee;
  --font-robo: "Roboto Mono", monospace;
  --font-staat: "Staatliches", cursive;
}

/* global classes */
.font-staat {
  font: normal 400 18px var(--font-staat);
}
.font-robo {
  font: normal 300 18px var(--font-robo);
}

.font-size-40 {
  font-size: 40px;
}
.font-size-34 {
  font: size 34px;
}
.font-size-20 {
  font-size: 20px;
}
.font-size-16 {
  font-size: 16px;
}

.bgcolor-black {
  background-color: #2f89fc;
}

/*#global classes*/

#header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99999;
  transition: left .5s ease;
}

#header nav{
  height: 100vh;
}
#header .site-title .navbar-brand{
  letter-spacing: 2px;
  color: var(--color-white);
}

#header .nav-link{
  margin: 1rem 1rem;
  border-bottom: 1px solid var(--color-border);
}

#header .nav-link:hover{
  color:var(--color-white) !important;
}

#header .toggle-button{
  background: none;
  color: var(--color-black);
  position: fixed;
  top: 25px;
  right: 20px;
  border: 1px solid var(--color-border);
}

.toggle-left{
  left:0 !important;
  width:1000px !important;
}

/*site-main*/

.site-banner .banner-area{
  background: url(./assets/banner2.jpg) no-repeat;
  background-color: rgba(0,0,0,0.5);
  background-size: cover;
  width: 100%;
  height: 100vh;
  position: relative;
}

.site-banner .banner-area .author{
  margin:0;
  position:absolute;
  top:45%;
  left:50%;
  transform: translate(-50%,-50%);
}


#typed{
  color: var(--color-blue);
}

#footer form .row .col input[type="text"],
#footer form .row .col input[type="email"],
#footer form textarea{
    border: none;
    border-radius: 0;
    border-bottom: 1px solid gray;
    padding: 1.5rem 1rem;
}

@media screen and (min-width: 768px){
    .toggle-button{
        display: none;
    }
    #header{
        z-index:0;
    }
}
/*#site-main*/


/*social-icons*/
.social-icons a{
  display:inline-block;height:3.5rem;
  width:3.5rem;
  background-color: #fff;
  color:#343a40!important;
  border-radius:100%;
  text-align:center;
  font-size:1.5rem;
  line-height:3.5rem;
  margin-right:1rem
}


.social-icons a:last-child{
  margin-right:0
}


.social-icons a:hover{
  background-color:#16CAFF;
  transform: scale(1.2)
}


.social-icons a:hover i {
  transform: scale(1.3);
}
/*social-icons*/

/*dev-icons*/
.dev-icons{
  font-size:3rem;
  color: #343a40;
}


.dev-icons .list-inline-item :hover{
  color:#16CAFF;
  transform: scale(1.2)
}
/*dev-icons*/