@import url("https://fonts.googleapis.com/css?family=Roboto+Mono|Staatliches&display=swap");

body {
  margin: 0;
  padding: 0;
}

:root {
  --color-black: #000000;
  --color-white: #ffffff;
  --color-border: #ffffff34;
  --font-robo: "Roboto Mono", monospace;
  --font-staat: "Staatliches", cursive;
}

/* global classes */
.font-staat {
  font: normal 400 18px var(--font-staat);
}
.font-robo {
  font: normal 300 18px var(--font-robo);
}

.font-size-40 {
  font-size: 40px;
}
.font-size-34 {
  font: size 34px;
}
.font-size-20 {
  font-size: 20px;
}
.font-size-16 {
  font-size: 16px;
}

.bgcolor-black {
  background-color: #3e3636;
}

/*#global classes*/

#header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99999;
  transition: left .5s ease;
}

#header nav{
  height: 100vh;
}
#header .site-title .navbar-brand{
  letter-spacing: 2px;
  color: var(--color-white);
}

#header .nav-link{
  margin: 1rem 1rem;
  border-bottom: 1px solid var(--color-border);
}

#header .nav-link:hover{
  color:var(--color-white) !important;
}

#header .toggle-button{
  background: none;
  color: var(--color-black);
  position: fixed;
  top: 25px;
  right: 20px;
  border: 1px solid var(--color-border);
}

.toggle-left{
  left:0 !important;
  width:1000px !important;
}

/*site-main*/

.site-banner .banner-area{
  background: url(./assets/banner.jpg) no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  position: relative;
}

.site-banner .banner-area .author{
  margin:0;
  position:absolute;
  top:45%;
  left:50%;
  transform: translate(-50%,-50%);
}

/*#site-main*/